
html, body {
/*    margin : 0 => top-right-bottom-left*/
    padding: 0;
    margin: 0;
}

h2 {
    color: #BADA55;
    font-family: "Balsamiq Sans";
    background-color:aliceblue;
}

.display-img {
    height: 300px;
    width: 300px;
    display: block;
    margin: 10px 0;
}

.border-img {
/*    border: 1px solid #BADA55 => */
    border-width: 1px;
    border-style: solid;
    border-color: aliceblue;
/*   ------------------------- */
    border-radius: 50%;
}

a {
    text-decoration: none;
}

.silver-background {
    background-color: aliceblue;
}
p {
    margin: 10px 0px;
    font-family: monospace;
}

ol {
    margin: 5px 0px;
}

label {
    display: block;
}

button {
    margin: 10px 0;
}

/* Selectionner input de type radio */
[type="radio"] {
    margin: 10px 0 10px 0;
}

[type="checkbox"] {
    margin: 10px 0 10px 0;
}

footer {
    margin-top: 20px;
}





